lab7/lab7-server/src/main/resources/META-INF/wsdl/CityService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://service.guldilin" xmlns:tns="http://service.guldilin" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="EntryNotFound" nillable="true" type="tns:entryNotFoundFault"/>

  <xs:element name="FieldIsNotFilterable" nillable="true" type="tns:fieldIsNotFilterableFault"/>

  <xs:element name="ValidationFailed" nillable="true" type="tns:fieldValidationFault"/>

  <xs:element name="create" type="tns:create"/>

  <xs:element name="createResponse" type="tns:createResponse"/>

  <xs:element name="deleteById" type="tns:deleteById"/>

  <xs:element name="deleteByIdResponse" type="tns:deleteByIdResponse"/>

  <xs:element name="findByFilter" type="tns:findByFilter"/>

  <xs:element name="findByFilterResponse" type="tns:findByFilterResponse"/>

  <xs:element name="patch" type="tns:patch"/>

  <xs:element name="patchResponse" type="tns:patchResponse"/>

  <xs:element name="update" type="tns:update"/>

  <xs:element name="updateResponse" type="tns:updateResponse"/>

  <xs:complexType name="update">
    <xs:sequence>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="city" type="tns:cityCreateUpdateDTO" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cityCreateUpdateDTO">
    <xs:sequence>
      <xs:element name="area" type="xs:int" minOccurs="0"/>
      <xs:element name="carCode" type="xs:int" minOccurs="0"/>
      <xs:element name="metersAboveSeaLevel" type="xs:float" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="population" type="xs:int" minOccurs="0"/>
      <xs:element name="populationDensity" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:cityDTO" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cityDTO">
    <xs:complexContent>
      <xs:extension base="tns:abstractEntityDTO">
        <xs:sequence>
          <xs:element name="area" type="xs:int" minOccurs="0"/>
          <xs:element name="carCode" type="xs:int" minOccurs="0"/>
          <xs:element name="metersAboveSeaLevel" type="xs:float" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="population" type="xs:int" minOccurs="0"/>
          <xs:element name="populationDensity" type="xs:int" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="abstractEntityDTO" abstract="true">
    <xs:sequence>
      <xs:element name="creationAt" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="updatedAt" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="entryNotFoundFault">
    <xs:sequence>
      <xs:element name="entity" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fieldValidationFault">
    <xs:sequence>
      <xs:element name="errors" type="tns:fieldValidationFaultEntry" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fieldValidationFaultEntry">
    <xs:sequence>
      <xs:element name="field" type="xs:string" minOccurs="0"/>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="create">
    <xs:sequence>
      <xs:element name="city" type="tns:cityCreateUpdateDTO" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:cityDTO" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteById">
    <xs:sequence>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteByIdResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="patch">
    <xs:sequence>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="city" type="tns:cityCreateUpdateDTO" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="patchResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:cityDTO" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findByFilter">
    <xs:sequence>
      <xs:element name="filters" type="tns:filterArgumentDTO" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="pagination" type="tns:paginationRequestDTO" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="filterArgumentDTO">
    <xs:sequence>
      <xs:element name="field" type="xs:string" minOccurs="0"/>
      <xs:element name="value" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="paginationRequestDTO">
    <xs:sequence>
      <xs:element name="limit" type="xs:int" minOccurs="0"/>
      <xs:element name="offset" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findByFilterResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:paginationDTO" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="paginationDTO">
    <xs:sequence>
      <xs:element name="items" type="tns:abstractEntityDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="nextOffset" type="xs:long" minOccurs="0"/>
      <xs:element name="total" type="xs:long" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fieldIsNotFilterableFault">
    <xs:sequence>
      <xs:element name="field" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
