lab7/lab7-server/src/main/resources/META-INF/wsdl/CityService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. -->
<definitions targetNamespace="http://service.guldilin" name="CityService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.guldilin" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.guldilin" schemaLocation="CityService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="deleteById">
    <part name="parameters" element="tns:deleteById"/>
  </message>
  <message name="deleteByIdResponse">
    <part name="parameters" element="tns:deleteByIdResponse"/>
  </message>
  <message name="EntryNotFound">
    <part name="fault" element="tns:EntryNotFound"/>
  </message>
  <message name="ValidationFailed">
    <part name="fault" element="tns:ValidationFailed"/>
  </message>
  <message name="findByFilter">
    <part name="parameters" element="tns:findByFilter"/>
  </message>
  <message name="findByFilterResponse">
    <part name="parameters" element="tns:findByFilterResponse"/>
  </message>
  <message name="FieldIsNotFilterable">
    <part name="fault" element="tns:FieldIsNotFilterable"/>
  </message>
  <message name="update">
    <part name="parameters" element="tns:update"/>
  </message>
  <message name="updateResponse">
    <part name="parameters" element="tns:updateResponse"/>
  </message>
  <message name="create">
    <part name="parameters" element="tns:create"/>
  </message>
  <message name="createResponse">
    <part name="parameters" element="tns:createResponse"/>
  </message>
  <message name="patch">
    <part name="parameters" element="tns:patch"/>
  </message>
  <message name="patchResponse">
    <part name="parameters" element="tns:patchResponse"/>
  </message>
  <portType name="CityWs">
    <operation name="deleteById">
      <input wsam:Action="http://service.guldilin/City/deleteByIdRequest" message="tns:deleteById"/>
      <output wsam:Action="http://service.guldilin/City/deleteByIdResponse" message="tns:deleteByIdResponse"/>
      <fault message="tns:EntryNotFound" name="EntryNotFound" wsam:Action="http://service.guldilin/CityWs/deleteById/Fault/EntryNotFound"/>
      <fault message="tns:ValidationFailed" name="ValidationFailed" wsam:Action="http://service.guldilin/CityWs/deleteById/Fault/ValidationFailed"/>
    </operation>
    <operation name="findByFilter">
      <input wsam:Action="http://service.guldilin/CityWs/findByFilterRequest" message="tns:findByFilter"/>
      <output wsam:Action="http://service.guldilin/CityWs/findByFilterResponse" message="tns:findByFilterResponse"/>
      <fault message="tns:FieldIsNotFilterable" name="FieldIsNotFilterable" wsam:Action="http://service.guldilin/CityWs/findByFilter/Fault/FieldIsNotFilterable"/>
      <fault message="tns:ValidationFailed" name="ValidationFailed" wsam:Action="http://service.guldilin/CityWs/findByFilter/Fault/ValidationFailed"/>
    </operation>
    <operation name="update">
      <input wsam:Action="http://service.guldilin/City/updateRequest" message="tns:update"/>
      <output wsam:Action="http://service.guldilin/City/updateResponse" message="tns:updateResponse"/>
      <fault message="tns:EntryNotFound" name="EntryNotFound" wsam:Action="http://service.guldilin/CityWs/update/Fault/EntryNotFound"/>
      <fault message="tns:ValidationFailed" name="ValidationFailed" wsam:Action="http://service.guldilin/CityWs/update/Fault/ValidationFailed"/>
    </operation>
    <operation name="create">
      <input wsam:Action="http://service.guldilin/City/createRequest" message="tns:create"/>
      <output wsam:Action="http://service.guldilin/City/createResponse" message="tns:createResponse"/>
      <fault message="tns:ValidationFailed" name="ValidationFailed" wsam:Action="http://service.guldilin/CityWs/create/Fault/ValidationFailed"/>
    </operation>
    <operation name="patch">
      <input wsam:Action="http://service.guldilin/City/patchRequest" message="tns:patch"/>
      <output wsam:Action="http://service.guldilin/City/patchResponse" message="tns:patchResponse"/>
      <fault message="tns:EntryNotFound" name="EntryNotFound" wsam:Action="http://service.guldilin/CityWs/patch/Fault/EntryNotFound"/>
      <fault message="tns:ValidationFailed" name="ValidationFailed" wsam:Action="http://service.guldilin/CityWs/patch/Fault/ValidationFailed"/>
    </operation>
  </portType>
  <binding name="CityPortBinding" type="tns:CityWs">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="deleteById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="EntryNotFound">
        <soap:fault name="EntryNotFound" use="literal"/>
      </fault>
      <fault name="ValidationFailed">
        <soap:fault name="ValidationFailed" use="literal"/>
      </fault>
    </operation>
    <operation name="findByFilter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FieldIsNotFilterable">
        <soap:fault name="FieldIsNotFilterable" use="literal"/>
      </fault>
      <fault name="ValidationFailed">
        <soap:fault name="ValidationFailed" use="literal"/>
      </fault>
    </operation>
    <operation name="update">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="EntryNotFound">
        <soap:fault name="EntryNotFound" use="literal"/>
      </fault>
      <fault name="ValidationFailed">
        <soap:fault name="ValidationFailed" use="literal"/>
      </fault>
    </operation>
    <operation name="create">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ValidationFailed">
        <soap:fault name="ValidationFailed" use="literal"/>
      </fault>
    </operation>
    <operation name="patch">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="EntryNotFound">
        <soap:fault name="EntryNotFound" use="literal"/>
      </fault>
      <fault name="ValidationFailed">
        <soap:fault name="ValidationFailed" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="CityService">
    <port name="CityPort" binding="tns:CityPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>
